/*
NOTE:
------
PLACE HERE YOUR OWN SCSS CODES AND IF NEEDED, OVERRIDE THE STYLES FROM THE OTHER STYLESHEETS.
WE WILL RELEASE FUTURE UPDATES SO IN ORDER TO NOT OVERWRITE YOUR STYLES IT'S BETTER LIKE THIS.  */
.no-padding{
    padding: 0 !important;
}

.nav-hover:hover{
    color: #424242 !important;
    transform: scale(1.02);
    font-weight: 400;
    text-shadow: 1px 1px 4px #E0E0E0;
}

.nav-item-home-floating:hover{
    color: #FBCA4A !important;
}

.error-txt{
    color: #FBCA4A !important;
    font-weight: 800 !important;
}

.error-desc{
    color: #FFFFFF !important;
}

.table-action{
    margin-left: 15px !important;
    margin-right: 15px !important;
}

.icon-success{
    color: #43A047 !important;
}

.icon-danger{
    color: #E53935 !important;
}

.align-right{
    float: right !important;
}

.card-coll-bg{
    background: #F5F5F5;
}

.city-title{
    font-family: Rubik, Helvetica, Arial, serif;
    font-size: 1.8rem;
    line-height: 1.2;
    color: #475F7B;
    font-weight: bolder;
}

.city-details{
    font-family: Rubik, Helvetica, Arial, serif;
    color: #475F7B;
}

.modal-table>td{
    padding-top: 8px !important;
    padding-bottom: 8px !important;
}

.round-cursor:hover {
    cursor: pointer;
}